<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Software Solutions</title>
    <link rel="stylesheet" href="layout/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="layout/js/script.js"></script>
</head>

<body>
    <!-- Header -->
    <div class="header">
        <div class="navigation-bar">
            <div class="container">
                <div class="navigation-bar-content">
                    <div class="logo">
                        <a href="#"><img alt="Logo" src="layout/images/logo.png"></a>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="#" style="color: #00b3e3;">HOME</a></li>
                            <li><a href="#">ABOUT US</a></li>
                            <li><a href="#">RESOURCES</a></li>
                            <li><a href="#">VENDOR LISTING</a></li>
                            <li><a href="#">VENDOR PROFILE</a></li>
                            <li><a href="#">CONTACT</a></li>
                            <li><a href="#"><i class="fas fa-search"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider">
            <div class="container">
                <div class="slider-page-one">
                    <div class="slider-text">
                        <h1 class="slider-header">WE'VE SIMPLIFIED</h1>
                        <h1 class="slider-header" style="color: #00aad7;">SOFTWARE SOLUTION</h1>
                        <p class="slider-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna
                            est, lacinia id maximus at, scelerisque vel mi. Proin ipsum lacus, pulvinar sit amet pretium
                            quis, bibendum vitae justo.</p>
                        <a href="#" class="site-button green-button">START TODAY</a>
                    </div>
                    <div class="slider-page-one-sign-up">
                        <div class="sign-up-content">
                            <h4>Sign Up For a</h4>
                            <h4 style="font-weight: bold;">Free Consultation</h4>
                            <br>
                            <form class="sign-up-form">
                                <label>Your Name</label><br>
                                <input type="text"><br>
                                <label>Email Address</label><br>
                                <input type="text"><br>
                                <label>Contact Number</label><br>
                                <input type="text"><br>
                                <input type="submit" class="site-button blue-button sign-up-submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-icons-conatainer">
                <ul class="slider-icons-list">
                    <li><a class="slider-icon" href="#"><img src="layout/images/sliderSelected.png"></a></li>
                    <li><a class="slider-icon" href="#"><img src="layout/images/sliderNotSelected.png"></a></li>
                    <li><a class="slider-icon" href="#"><img src="layout/images/sliderNotSelected.png"></a></li>
                    <li><a class="slider-icon" href="#"><img src="layout/images/sliderNotSelected.png"></a></li>
                    <li><a class="slider-icon" href="#"><img src="layout/images/sliderNotSelected.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <div class="mission">
        <div class="container">
            WE PROVIDE A SERVICE THAT CONNECTS
            <br> APPLICANT TRACKING SYSTEM (ATS) VENDORS AND BUYERS.
        </div>
    </div>

    <!-- About Us -->
    <div class="about-us">
        <div class="container">
            <div class="about-us-content">
                <div class="about-us-text">
                    <h1 class="about-us-header">ABOUT US</h1>
                    <div class="breaker" style="width: 100px;">
                        <img src="layout/images/breaker.png">
                    </div>
                    <p class="about-us-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna
                        est, lacinia id maximus at, scelerisque vel mi. Proin ipsum lacus, pulvinar sit amet pretium
                        quis, bibendum vitae justo. Suspendisse mattis ultrices mollis. Curabitur tristique pharetra
                        arcu, hendrerit gravida ipsum iaculis ac.</p>
                    <p class="about-us-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna
                        est, lacinia id maximus at, scelerisque vel mi. Proin ipsum lacus, pulvinar sit amet pretium
                        quis, bibendum vitae justo. Suspendisse mattis ultrices mollis. Curabitur tristique pharetra
                        arcu, hendrerit gravida ipsum iaculis ac. </p>
                    <br>
                    <div class="know-more">
                        <a href="#">
                            <div class="site-button blue-button">
                                Know More
                                <span>
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="about-us-image-container">
                    <div class="about-us-image"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us End -->

    <!-- Our Services -->
    <div class="our-services">
        <div class="container">
            <div class="our-services-header">
                <h1>OUR SERVICES</h1>
                <p>Applicant Tracking System is packed with amazing features and technologies</p>
                <div class="breaker">
                    <img src="layout/images/breakerWhite.png" style="width: 250px;">
                </div>
            </div>
            <div class="services-table">
                <div class="services-row">
                    <div class="service-type">
                        <div class="service-icon">
                            <img src="layout/images/ourServicesHome.png">
                        </div>
                        <h3 class="service-type-header">APPLICATION TRACKING</h3>
                        <p class="service-type-paragraph">Manage large volumes of applicant with a full overview from
                            Sourcing to Hiring</p>
                    </div>
                    <div class="service-type">
                        <div class="service-icon">
                            <img src="layout/images/ourServicesTeam.png">
                        </div>
                        <h3 class="service-type-header">MANAGE HIRING TEAM</h3>
                        <p class="service-type-paragraph">Manage your team effortlessly. Add team members and assign job
                            oppenings</p>
                    </div>
                    <div class="service-type">
                        <div class="service-icon">
                            <img src="layout/images/ourServicesMeeting.png">
                        </div>
                        <h3 class="service-type-header">MANAGE INTERVIEWS</h3>
                        <p class="service-type-paragraph">Invite in-house interviews, manage efficiently and design
                            interviews online.</p>
                    </div>
                    <div class="service-type">
                        <div class="service-icon">
                            <img src="layout/images/ourServicesPhone.png">
                        </div>
                        <h3 class="service-type-header">INTERVIEW SCHEDULING</h3>
                        <p class="service-type-paragraph">Receive schedules from applicants online. No manual
                            intervention, saves huge time.</p>
                    </div>
                </div>
                <div class="services-row">
                    <div class="service-type">
                        <div class="service-icon">
                            <img src="layout/images/ourServicesSocialMedia.png">
                        </div>
                        <h3 class="service-type-header">SOCIAL RECRUITING</h3>
                        <p class="service-type-paragraph">Post openings automatically on top Social Media platforms in
                            just one click.</p>
                    </div>
                    <div class="service-type">
                        <div class="service-icon">
                            <img src="layout/images/ourServicesTeam.png">
                        </div>
                        <h3 class="service-type-header">ONLINE ASSESSMENTS</h3>
                        <p class="service-type-paragraph">Conduct online tests during drives. Set your own questions,
                            passmark & duration.</p>
                    </div>
                    <div class="service-type">
                        <div class="service-icon">
                            <img src="layout/images/ourServicesMeeting.png">
                        </div>
                        <h3 class="service-type-header">CAREER WEBSITE</h3>
                        <p class="service-type-paragraph">No time to update your Career Page?<br>Embed our Career Widget
                            in your wbsite.</p>
                    </div>
                    <div class="service-type">
                        <div class="service-icon">
                            <img src="layout/images/ourServicesPhone.png">
                        </div>
                        <h3 class="service-type-header">ANALYTICS</h3>
                        <p class="service-type-paragraph">Real-time analytics for insights into your recruiting efforts.
                            Export reports.</p>
                    </div>
                </div>
            </div>
            <div class="our-services-explore-all">
                <a href="#" class="site-button green-button" style="border-radius: 0;">EXPLORE ALL SERVICES</a>
            </div>
        </div>
    </div>
    <!-- Our Services End -->

    <!-- Experts -->
    <div class="experts">
        <div class="container">
            <h1 class="experts-header">ATS SELECTION DESIGNED BY HR EXPERTS</h1>
            <div class="breaker">
                <img src="layout/images/breaker.png">
            </div>
            <div class="scattered-images">
                <div class="experts-image experts-image-one"></div>
                <div class="experts-text">
                    <h2 class="experts-text-header">ATS SELECTION DESIGNED BY HR EXPERTS</h2>
                    <p class="experts-text-paragraph">Lorem ipsum dolor sit amet. consectetur adipisicing elit. sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident. sunt in culpa qui officia deserunt mollit anim id est
                        laborum. Sed ut perspiciatis unde omnis iste natus error sit.</p>
                    <br>
                    <a href="#" class="site-button blue-button">ATS VENDOR MATCH</a>
                </div>
                <div class="experts-image experts-image-two"></div>
                <div class="experts-text">
                    <h2 class="experts-text-header">YOUR VENDOR MATCH SERVICE</h2>
                    <p class="experts-text-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse.</p>
                    <br>
                    <a href="#" class="site-button blue-button">ATS VENDOR MATCH</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Experts End -->

    <!-- Partners -->
    <div class="partners">
        <h1 class="partners-header">OUR PARTNERS</h1>
        <div class="partners-slider">
            <div class="partners-slider-left-arrow partners-slider-arrow">
                <i class="fas fa-angle-left"></i>
            </div>
            <div class="container">
                <div class="partners-slider-logos-container">
                    <div class="partners-slider-logo">
                        <img src="layout/images/partnersLogoOne.png" alt="First Partner Logo">
                    </div>
                    <div class="partners-slider-logo">
                        <img src="layout/images/partnersLogoTwo.png" alt="First Partner Logo">
                    </div>
                    <div class="partners-slider-logo">
                        <img src="layout/images/partnersLogoThree.png" alt="First Partner Logo">
                    </div>
                    <div class="partners-slider-logo">
                        <img src="layout/images/partnersLogoFour.png" alt="First Partner Logo">
                    </div>
                </div>
            </div>
            <div class="partners-slider-right-arrow partners-slider-arrow">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
    </div>
    <!-- Partners End -->

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-conatiner">
                <div class="footer-company-description">
                    <div class="footer-logo">
                        <img alt="Footer Logo" src="layout/images/footerLogo.png">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam. quis nostrud</p>
                    <p id="copyright">&copy; 2015 F1 Digitals</p>
                </div>
                <div class="footer-information">
                    <h2>INFORMATION</h2>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Vendor Listing</a></li>
                        <li><a href="#">Vendor Profile</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-services">
                    <h2>SERVICES</h2>
                    <ul>
                        <li><a href="#">APPLICANT TRACKING</a></li>
                        <li><a href="#">MANAGE HIRING TEAM</a></li>
                        <li><a href="#">Manage Interviewers</a></li>
                        <li><a href="#">INTERVIEW SCHEDULING</a></li>
                        <li><a href="#">SOCIAL RECRUITING</a></li>
                        <li><a href="#">ONLINE ASSESSMENTS</a></li>
                        <li><a href="#">CAREER WEBSITE</a></li>
                        <li><a href="#">ANALYTICS</a></li>
                    </ul>
                </div>
                <div class="footer-contact-information">
                    <div class="footer-contact">
                        <div class="footer-contact-icon">
                            <i class="fas fa-map-marker-alt" style="color: white;"></i>
                        </div>
                        <div class="footer-contact-text">
                            <p>B-01, Lorem</p>
                            <p>IPSSUM,South Africa</p>
                        </div>
                    </div>
                    <div class="footer-contact">
                        <div class="footer-contact-icon">
                            <i class="fas fa-mobile-alt" style="color: white;"></i>
                        </div>
                        <div class="footer-contact-text">
                            <p>+12 35 0000 0000</p>
                            <p>+99 88 1000 0000</p>
                        </div>
                    </div>
                    <div class="footer-contact">
                        <div class="footer-contact-icon">
                            <i class="far fa-envelope" style="color: white;"></i>
                        </div>
                        <div class="footer-contact-text">
                            <p>
                                info@gmail.com
                            </p>
                        </div>
                    </div>
                    <div class="footer-social-media-container">
                        <a href="#"><img src="layout/images/footerIconFacebook.png"></a>
                        <a href="#"><img src="layout/images/footerIconTwitter.png"></a>
                        <a href="#"><img src="layout/images/footerIconFlickr.png"></a>
                        <a href="#"><img src="layout/images/footerIconVimeo.png"></a>
                        <a href="#"><img src="layout/images/footerIconYouTube.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
</body>

</html>